{% load staticfiles %}
<html>
    <body>

        <script> 
            window.django = {
                'is_logged_in' : {% if user.is_authenticated %} true 
                                 {% else %} false   
                                 {% endif %},
                'username' : '{{ user.username }}',
                'csrf_token' : '{{ csrf_token }}',
            };
        </script>
        
        <div id="root"></div>
        <script src={% static "src/bundle.js" %}></script>

    </body>
</html>
