<h2>Post a poem</h2>
{% if user.is_authenticated %}
    <a href='../../profiles/{{user.username}}'> User </a> 
{% else %}
    <a href='../../login/'> Log In </a>
{% endif %}

<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Post</button>
</form>