<html>
    <body>
        <p>Current user: <a href='../../profiles/{{user.username}}'> {{user.username}} </a>
        <p>{{username}}'s profile
        {% for poem in curr_user_poems %}
        <p> <a href='../poems/user/{{poem.id}}'> {{poem.title}} </a>
        {% endfor %}
    </body>
</html>